.header {
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.header.static {
    position: static;
}

.header-container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vh 2vw;
}

.header.transparent {
    background-color: transparent;
}

.header.solid {
    background-color: #0F221E;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.logo img {
    height: 6vh;
    transition: all 0.5s ease;
}

.nav-links {
    display: flex;
    gap: 2vw;
}

.nav-links a {
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    font-size: clamp(16px, 1.5vw, 20px);
    font-weight: 500;
    transition: color 0.3s ease;
    position: relative;
}

.nav-links a:hover, .dropdown-trigger:hover  {
    color: #F2B034;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #F2B034;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.dropdown-trigger {
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #0F221E;
  padding: 1vh 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  z-index: 999;
  min-width: 200px;
}

.dropdown-menu a {
  display: block;
  padding: 0.8vh 1vw;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

