.footer {
    margin-top: 5vh;
    background-color: #18443C;
    color: #ffffff; 
    padding: 1vh 1vh;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footer p {
    text-align: center;
  }